.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;            
    padding: 20px;
    background-color: lightgray;
    box-sizing: border-box;   
    border-radius: 10px;
}

.card img {
    width: 200px;
    height: 180px;
    object-fit: cover;    
    border-radius: 10px;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.titulo-card {
    margin: 10px 0;
    text-align: center;
    font-family: Arial, sans-serif;
}

.texto-card {
    text-align: right;
    font-family: Arial, sans-serif;
}   

.botao-card {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}